
.firstlogos img {
  width: 25px;
  height: 25px; 
  
}
.firstlogotipas {
  display: flex;
  gap: 15px;
}
.firstlogo {
  display: flex;
  justify-content: center;
}
.firstlogos {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  gap: 15px;
}

.first {
  position: relative;
}



.firstnav nav a {
 color: black;
}

