.price {
    font-weight: bold;
    font-size: 18px;
    gap: 10px;
}

.discount-price {
    color: rgb(232, 0, 0);
}

.regular-price {
    color: rgb(98, 98, 98);
    text-decoration: line-through;
    font-size: 14px;
}