* {
    box-sizing: border-box;
}
body {

    background-color: #e5e5e526;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 1140px;
    margin: 0 auto;
    
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header ul {
    
    display: flex;
    gap: 30px;
    list-style: none;
    padding-left: 70px;
}


.header li a {
    text-decoration: none;
    color: black;   
}
.home  {
    font-weight: 600;
}

header {
    padding-top: 10px;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 10;
    box-shadow: 0px 4px 8px 9px #0000001a;
    width: 100%;
    
}

.links {
    display: flex;
    gap: 20px;
   
}

.button {
    font-family: 'Inter', sans-serif;
    background: #545BE8;
    width: 170px;
    display: block;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    padding: 11px 20px;
}
.shadow {
    box-shadow: 0px 3px 7px -2px black;
}
.empty-button {
    background: none;
    color: #545BE8;
    border: 1px solid #545BE8;
}
/* .box {
    background-color: #F5F5F5;
    width: 100%;
    padding: 50px 100px;     
} */
.play {
    display: flex;
    gap: 20px;
    align-items: center;    
}
.box-inside1 h6 {
    font-weight: 400;
    font-size: 18px;
    color: #969696;
    margin: 20px 0px;
}
.play-foto {
    width: 170px; 
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black;
    border-radius: 5px; */
}
.play-foto a {
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 45px;
}

.box {
    background-color: #DDDDDD;
}

.box-inside {
    display: flex;
    justify-content: center;  
    padding-top: 80px;  
}
.box-inside h5 {
    color: #545BE8;
}
h5 small {
    color:#545BE8;
    font-size: 14px;
    font-weight: 400;
}

.box-inside1 {
    width: 50%;
    
}
.box-inside1 h1 {
    font-size: 64px;
    font-weight: 600;
    margin: 0px;
}
.box-inside1 h1 span {
    color: #545BE8;
}
.mergina {
    width: 50%;
}
.box2 {
    width: 1576px;
    /* height: 362px; */
    
    display: flex;
    gap: 30px;
    padding-top: 50px;
    
}
.what {
    width: 364px;
    height: 255px;
}
.box2 h2 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #545BE8;
}
.box2 h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
.box2 h3 {
    color: #969696;
    font-size: 18px;
    font-weight: 400;
}
.boxes {
    width: 267px;
    height: 267px;
    background-color: #545BE8;
    gap: 30px;
    padding: 40px 40px 40px 15px;
    border-radius: 15px;
    margin-top: 50px;
}
.img {
    background-color: #FFFFFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.boxes h2 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
   
}
.boxes h3 {
    color: #DDDDDD;
    font-weight: 400;
    font-size: 14px;    
}
.rodykles {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 80px;
    justify-content: end;

}
.what-we-give {
    overflow: hidden;
}
.box3 {
    display: flex;
    justify-content: center;
    padding: 20px 0px;    
}


.selected-course {
    background: linear-gradient(180deg, rgba(84,91,232,1) 0%, rgba(39,45,176,1) 100%);
}
.box3-1 {
    /* display: flex;
    flex-direction: column;
     */
    /* width: 457px;
    height: 352px; */
    padding: 67px;
    width:  50%;
    margin-left: 60px;
}
.box3-1 h3 {
    color: #F0C932;
    font-family: inter;
    font-size: 18px;
    font-weight: 400;
}
.box3-1 h1 {
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}

.box3-1 p {
    font-size: 18px;
    color: #DDDDDD;
    font-weight: 400;
}
.skaiciai {
    display: flex;
    justify-content: space-between;
}
.skaiciai h1 {
    color: #F0C932;
    font-size: 24px;
}
.skaiciai h3 {
    font-family: inter;
    font-size: 18px;
    color: #DDDDDD;
}
.box4 {
    display: flex;
    margin-top: 60px;
}
.box4 ul {
    padding: 0;
    display: flex;
    list-style: none;
    gap: 30px;
    
}

.box4 li {
    list-style: none;
    
    
}
.box4-1 {
   gap: 20px;
   background-color: #FFFFFF;
   border-radius: 10px;
   box-shadow: 0px 13px 29px -5px #00000024;
   margin-bottom: 35px;
}
.relitive {
    position: relative;
    
    
}
.relitive img {
    width: 100%;
}
.relitive h1 {
    position: absolute;
    margin: 0;
    padding: 10px;
    top:20px;
    color: white;
    font-size: 16px;
    background-color: #545BE8;
    text-align: center;
    

}
.relitive h2 {
    position: absolute;
    right: 15px;
    color: white;
    bottom: 0;
}
.html {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    /* margin: 0px; */
    height: 40px;
}
    

.html h1 {
    font-size: 22px;
}
.html h5{
    color: #545BE8;
    font-size: 12px;
}
.videos {
    display: flex;
    justify-content: left;
    font-size: 16px;
    padding: 0 15px;
    color: #969696;
    gap: 10px;
}
.videos h3 {
    font-weight: 400;
}
.for-yuo {
    width: 40%;
    padding: 0 40px;
}
.for-yuo h3 {
    color: #545BE8;
    font-weight: 400;
    font-size: 18px;
    font-family: inter;
    margin-top: 0px;
}
.for-yuo h1 {
    font-size: 40px;
    line-height: 60px;
}
.for-yuo h4 {
    font-weight: 400;
    font-size: 18px;
    color: #969696;
}
.vizitine {
    margin-bottom: 80px;
}
.inside {
    display: flex;
    gap: 25px;
}

.tes {
    font-size: 40px;
    text-align: center;
}
.vizitine1 {
    width: 50%;
    box-shadow: 1px 14px 13px 0px rgb(0 0 0 / 8%);
    padding: 30px;
    position: relative;
}
.trikampis {
    position: absolute;
    top: 0px;
    right: 0px;
}
.galva {
   display: flex;
   gap: 20px;
}
.galva h1 {
    margin: 0;
    font-size: 18px;
}
.galva h4 {
    margin-bottom: 0;
    font-size: 14px;
    color: #969696;
    font-weight: 400;
}
.vizitine1 img {
    margin: 12px 0px;
}
.vizitine1 h3 {
    font-size: 18px;
    font-weight: 500;
    color: #646464;
}
.footer {
    background-color: #393E46;
    width: 100%;
    height: 400px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo h4 {
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}
.peda {
    display: flex;
    /* align-items: center; */
    padding: 80px 0px;
    justify-content: space-between;
}
.peda1 {
    width: 38%;
}
.peda1 h4 {
    font-size: 14px;
    font-weight: 400;
    color: #F4F4F4;
}
.peda1 img {
    color: white;
}
.peda2 {
    color: #F4F4F4;
   
}
.peda2 ul {
    line-height: 32px;
}
.peda2 li {
    list-style: none;
}
.peda2 h1 {
    font-size: 18px;
}
.icons {
    gap: 10px;
    display: flex;
}
@media  sreen and (max-width: 1170px) {
    
}

   
